.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

a {
  color: black;
  text-decoration-line: none;
}

.logo {
  width: 200px;
}

.tags > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.tags > ul > li {
  padding: 10px;
  margin: 20px;
}

.search {
  padding: 10px;
}
.rescards {
  color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.res-card {
  margin: 20px;
  padding: 5px;
  width: 200px;
  background-color: #f0f0f0;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.Shimmer-Container {
  display: flex;
  flex-wrap: wrap;
}

.Shimmer-Card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}

.btn {
  margin: 5px;
  padding: 0 5px;
  cursor: pointer;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}
.Search-box {
  margin: 10px;
}
.Search-Btn {
  cursor: pointer;
}
